.post-header-container {
  flex-direction: column;
  align-items: start;
  gap: calc(var(--padding-layout) / 2);

  .post-header {
    width: 100%;
    justify-content: space-between;

    .post-info {
      gap: var(--padding-layout);

      .post-avt-holder {
        position: relative;

        .post-avt-status {
          position: absolute;
          bottom: -0.6rem;
          right: 0;
          z-index: 1;
        }
      }

      .post-user-date {
        flex-direction: column;
        align-items: start;
      }
    }

    .post-util {
      .anticon {
        scale: 1.2;
      }
    }
  }

  .post-detail {
    --line: 4;
    text-align: justify;
    min-height: 10rem;
  }
}

.post-container {
  .filter-section {
    justify-content: right;
    font-size: var(--app-font-size);
    gap: calc(var(--padding-layout) / 2);
    padding-bottom: var(--padding-layout);

    &.with-message {
      padding-right: var(--padding-layout);
    }

    .filter-item {
      gap: calc(var(--padding-layout) / 2);
    }
  }

  .post-comment-container {
    display: flex;

    .post-with-filter {
      flex-direction: column;
      align-items: unset;
    }

    .react-resizable {
      display: flex;
      flex: 1;
      height: calc(100vh - 22rem);

      .post-comment-handle {
        width: 0.8rem;
        background-color: var(--gray-layout-color);
        cursor: ew-resize;
      }
    }

    .list-post-section {
      height: 100%;
      display: grid;
      gap: var(--padding-layout);
      grid-template-columns: repeat(auto-fill, minmax(36rem, 1fr));

      &.with-message {
        padding: 0.2rem;
        padding-right: calc(var(--padding-layout) - 0.8rem);
        overflow-y: scroll;
      }

      .post-unread-message {
        .ant-badge-count {
          right: 0.8rem;
        }
      }

      .ant-card.post-card-container {
        cursor: pointer;
        &:hover {
          transition: all ease 0.3s;
          box-shadow: 0px 2px 1.6rem 0px rgba(0, 0, 0, 0.25);
          transform: translate(0, -1px);
        }

        .ant-card-head {
          font-weight: 400;
        }

        .ant-card-body {
          padding: 0;
          min-height: 15rem;

          .total-comment {
            padding: 0.8rem 2.4rem;
            border-bottom: 1px solid #f0f0f0;
            text-align: right;
          }

          .ant-card-meta {
            padding: calc((var(--padding-layout) + 0.6rem)) 2.4rem
              var(--padding-layout);

            .ant-card-meta-title {
              .last-comment-title {
                justify-content: space-between;
              }
            }

            .ant-card-meta-description {
              .last-comment {
                --line: 2;
                color: #000;
                min-height: 4.4rem;
              }
            }
          }
        }
      }
    }
  }
}
