.profile-wrapper {
  .profile-left-section {
    width: 20%;
    flex-direction: column;
    gap: 4rem;

    #account-form,
    .profile-img {
      width: 80%;
    }

    .profile-img {
      border-radius: 0.8rem;
    }
  }

  .profile-right-section {
    flex-grow: 1;
    flex-direction: column;

    #profile-form {
      width: 100%;
    }
  }
}
